:root {
    --color-background: #F2E8DC;
    --color-primary: #223459;
    --color-accent: #dfc1a7;
    --color-button: #0c5c6d;
    --color-button-hover: #049DBF;
    --color-text: #223459;
    --color-white: #ffffff;
    --font-heading: 'Raleway', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6; 
}

header {
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-accent);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 100%;
}

.header-actions { 
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--color-text);
    margin: 0;
    padding: 0;
    font-family: var(--font-heading);
    font-size: 1.6rem;
}
  
.logo img {
    height: 7rem;
}

.logo span { 
    line-height: 1;
    display: block;
    transform: translateY(-1.5rem);
}
  
nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--color-white);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    border: 1px solid var(--color-accent);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 999;
    font-size: 1.5rem;
}
  
.menu-links.open {
    display: flex;
    animation: fadeIn 0.3s ease-in-out;
}
  
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
  
nav li {
    font-weight: bold;
}
  
nav a {
    text-decoration: none;
    color: var(--color-primary);
    transition: color 0.3s ease;
    padding: 10px;
}

nav a:hover {
    color: var(--color-button-hover);
    border-radius: 8px;
}
  
nav li.active a {
    position: relative;
    font-weight: bold;
    box-shadow: inset 0 -3px 0 var(--color-button-hover); 
}

#menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease;
    padding: 0;
}
  
#menu-icon::before {
    content: "=";
    font-size: 3rem;
    line-height: 1;
}

#menu-icon.open::before {
    content: "✖";
    font-size: 2rem;
}
  
.dark-mode-toggle {
    font-size: 2.3rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
}

@keyframes rotateIcon { 
    0% {
        transform: rotate(0deg);
    }

    100% { 
        transform: rotate(360deg);
    }
}

.dark-mode-toggle.rotate { 
    animation: rotateIcon 0.5s ease;
}

.dark-mode {
    --color-background: #1c1c1e;
    --color-primary: #d1d1e0;
    --color-accent: #3a3a3c;
    --color-button: #5ac8fa;
    --color-button-hover: #ffffff;
    --color-text: #f2f2f7;
    --color-white: #2c2c2e;
  }
  
  .dark-mode .about-us,
  .dark-mode .cta-adopt,
  .dark-mode .requirements,
  .dark-mode .adoption-steps,
  .dark-mode .testimonial,
  .dark-mode .adopt-form,
  .dark-mode .start-adoption,
  .dark-mode .location-card,
  .dark-mode .info-container,
  .dark-mode .cat-card,
  .dark-mode .cat-preview,
  .dark-mode .checkbox-group,
  .dark-mode footer,
  .dark-mode header,
  .dark-mode nav ul,
  .dark-mode .modal-content {
    background-color: var(--color-white);
    color: var(--color-text);
  }

.dark-mode body { 
    color: var(--color-text);
}

.dark-mode .hero-title h1, 
.dark-mode .hero-title p {
    color: white;
}

.dark-mode .logo img {
    filter: invert(1);
  }
  
  .dark-mode .start-adoption p{
    color: var(--color-text);
  }

  .dark-mode .testimonials p {
    color: var(--color-text);
  }
  
  .dark-mode .btn:hover {
    background-color: var(--color-button-hover);
  }
  
  .dark-mode .form input,
  .dark-mode .form textarea,
  .dark-mode .form select {
    background-color: #1e1e1e;
    color: var(--color-text);
    border-color: var(--color-accent);
  }
  
  .dark-mode .checkbox-group {
    background-color: #1e1e1e;
  }
  
  .dark-mode .adoption-tip {
    background-color: #2c2c2e;
    border-left-color: var(--color-button-hover);
  }
  
  .dark-mode .modal {
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .dark-mode .label {
    color: var(--color-button-hover);
  }
  
  .dark-mode .privacy-message small {
    color: #ccc;
  }
  

section {
    margin-top: 2rem;
}

main { 
    padding: 1rem;  
}
  
.hero-title {
    color: white;
}

h1, h2, h3 {
    font-family: var(--font-heading);
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}
  
p {
    font-family: var(--font-body);
    font-size: 1.3rem;
}

.hero h1 { 
    text-align: center;
    font-size: 2.5rem;
}

.hero img {
    display: block;
    margin: 1rem auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about-us { 
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-accent);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
}

.about-us div {
    max-width: 55%;
}

.about-us h2 { 
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.about-us p {
    font-size: 1rem;
    line-height: 1.6;
}

.cats h2 { 
    text-align: center;
}

.cats p { 
    font-size: 1rem;
}

.cat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--color-white);
    border-left: 5px solid var(--color-accent);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cat-card h3 {
    margin: 0.5rem 0;
}

.cat-card p {
    flex-grow: 1; 
}

.cat-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.meet-cats {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: .5rem;
}

.cat-card:hover { 
    transform: translateY(-5px);
}

.btn {
    display: inline-block;
    background-color: var(--color-button);
    border: none;
    color: var(--color-white);
    margin: .5rem ;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-content: center;
}

.btn:hover { 
    background-color: var(--color-button-hover);
    transform: scale(1.05);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    position: relative;
    animation: fadeIn 0.3s ease;
}

.modal-content ul {
    list-style-type: none;
}

.modal-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.modal-content .close {
    position: absolute;
    top: -13px;
    right: 1px;
    font-size: 2rem;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}


.start-adoption {
    background-color: var(--color-white);
    padding: 60px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 60px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.start-adoption:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.start-adoption h2 {
    font-size: 2.5rem;
    color: var(--color-text);
    margin-bottom: 20px;
    position: relative;
}

.start-adoption h2::after {
    content: "🐾";
    position: absolute;
    right: -30px;
    top: 0;
    font-size: 1.5rem;
}

.start-adoption p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
}

.testimonials {
    padding: 60px 20px;
    text-align: center;
    border-radius: 8px;
}

.testimonials h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.testimonial {
    max-width: 600px;
    margin: 0 auto 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.testimonial img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.testimonial p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    color: var(--color-text);
    font-weight: bold;
}
  
.btn:hover {
    background-color: var(--color-button-hover);
}

footer { 
    background-color: var(--color-white) ;
    color: var(--color-text);
    text-align: center;
    padding: 20px;
    margin-top: 2rem;
}

.footer-content { 
    max-width: 400px;
    margin: auto;
}

.social-media { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Meet Our Cats */
.cta-adopt, .requirements,
.adoption-steps {
  padding: 2rem;
  margin: 2rem auto;
  max-width: 800px;
  text-align: center;
  background-color: var(--color-accent);
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.requirements, .adoption-steps {
    padding: 1rem;
}

.cta-adopt h1 {
  color: var(--color-text); 
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.cta-adopt p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--color-text);
}

.requirements h2, .adoption-steps h2 {
  color: var(--color-text);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.adoption h2 { 
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.requirements ul, .adoption-steps ol {
  text-align: left;
  margin: 1rem auto;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  color: var(--color-text);
  line-height: 1.6;
}

.requirements ul {
    list-style: none;
}

.requirements ul li::before {
  content: "✔️ ";
  margin-right: 0.5rem;
}

.adoption-steps ol li::marker {
  font-weight: bold;
  color: var(--color-button);
}

/* Adopt form */
.adoption-tip {
    background-color: var(--color-white);
    border-left: 6px solid var(--color-button-hover);
    padding: 1rem;
    margin: 1rem 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-text);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.adoption-tip p { 
    font-size: 1rem;
}

.adoption-tip strong {
  color: var(--color-button);
}

.adopt-form {
    max-width: 400px;
    padding: 20px;
    background-color:var(--color-accent);
    border-radius: 12px;
    box-sizing: border-box;
}

.adopt-form h2 {
    text-align: center;
}

.form {
    display: grid;
    gap: 1.2rem;
  }

.form label {
    font-family: var(--font-body);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 0;
}

.form input, select, textarea {
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border: 1px solid var(--color-accent);
    border-radius: 6px;
    font-size: 1.3rem;
    box-sizing: border-box;
}

.form input:required:invalid {
    border-right: solid 8px red;
}

.form input:required:valid {
    border-bottom: solid 8px green;
}
  
.cat-preview {
    background-color: #f9f9f9;
    border: 1px dashed var(--color-accent);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.checkbox-group {
    display: flex;
    align-items: flex-start; 
    gap: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
    background: #fff;
  }
  
  
  .checkbox-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--color-button); 
    cursor: pointer;
    margin-top: 20px;
  }

  .checkbox-group label {
    flex: 1;
    cursor: pointer;
    font-size: 15px;
    margin: 0;
  }

.privacy-message small {
    display: block;
    font-size: 0.75rem;
    color: black;
    text-align: center;
    max-width: 400px;
    margin: 1rem auto 0 auto;
    line-height: 1.5;
}

.adoption-centers {
    text-align: center;
    padding: 2rem 1rem;
}

.locations {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 2rem 0;
}

.location-card {
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);;
} 

/* thanks section */
.info-box { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
}

.info-container {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid var(--color-accent);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 370px;
    width: 100%;
    text-align: center;
}

.info-container h1 {
    margin: 0 0 .67em 0;
}

.user-details {
    margin: 1.5rem 0;
    text-align: left;
}

.detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.label {
    font-weight: bold;
    color: var(--primary-color);
}

.value {
    text-transform: capitalize;
}