@media screen and (min-width: 768px) {
    .logo { 
        margin-left: 8rem;
    }

    nav {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex !important;  
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;
        position: static;  
        width: auto; 
        background: none;
    }

    #menu-icon {
        display: none !important;
    }

    .hero {
        width: 100%;
        max-height: 400px; 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ddd; 
        overflow: hidden; 
    }

    .hero img { 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cta-button {
        bottom: 50px;
        right: 100px;
    }

    .info { 
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        gap: 1rem;
        margin: 2rem auto;
        max-width: 120rem;
        align-items: start;
    }

    .events, .weather, .forecast { 
        min-height: 17.5rem;
        overflow: hidden;
    }

    .events-content{ 
        padding: 3rem;
        font-size: 20px;
    }
    
    .forecast-content { 
        padding-top: 4rem;
        font-size: 1.2rem;
    }

    #toggle-view {
        display: block;
    }
    

    .business-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: auto 5rem;   
        align-items: stretch;
    }   

    .list-layout {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 700px;
        margin: auto;
    }

    .footer-content { 
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        justify-content: center;
        width: 100%;
        gap: clamp(1rem, 15vw, 24rem);
    }
    
    .contact-info p, .details p {
        white-space: nowrap; 
        margin: 2px 0;
        font-size: 0.9rem;
    }

    .enroll-form {
        flex: 1;
        max-width: 500px;
        margin: 2rem auto;;
        padding: 25px;
    }

    .enroll { 
        flex-direction: row;
        margin-right: 5rem;
    }

    .membership-cards {
        flex: 1;
        max-width: 500px;
    }

    .info-container {
        max-width: 500px;
    }

    .discover {
        grid-template-areas: 
            "title title title"
            "description description description"
            "places places places";
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        padding: 2rem 3rem;
    }

    .discover h1 {
        text-align: left;
    }

    #places-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .place-card {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: var(--card-bg);
        border-radius: 12px;
        box-shadow: var(--shadow);
        padding: 1.5rem;
        transition: transform 0.3s ease-in-out;
    }

    .place-card h2 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }

    .place-card img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    .place-card address {
        font-style: normal;
        margin: 0.5rem 0;
        font-weight: 500;
    }

    .place-card p {
        flex-grow: 1;
        font-size: 1.1rem;
    }

    .place-card button {
        align-self: center;
        padding: 0.7rem 1.5rem;
        font-size: 1.05rem;
        border-radius: 6px;
    }

}
